<div class="list">
  <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
    <input type="text" name="username" id="username" placeholder="User Name here" ngModel/>
    <br/><br/>
    <input type="password" name="password" id="password" placeholder="Password here" ngModel/>
    <br/><br/>
    <button type="submit">Login</button>
  </form>
</div>
