.list {
  background-color: white;
  border-radius: 7px;
  padding: 10px;
  margin: 10px 20px 10px 0;
}
button {
  background-color: #eee;
  border: none;
  border-radius: 4px;
  cursor: hand;
  cursor: pointer;
  font-family: Arial;
  outline: none;
  padding: 5px 10px;
  transition: background-color 0.5s;
  user-select: none;
}
button:hover , button:focus {
  background-color: #cfd8dc;
  color: #607D8B;
}
input {
  border-radius: 3px;
}
