<div class="component">
  <div id="search-component">
    <h4>Product Search:</h4>
    <input #searchBox id="search-box" (keyup)="search(searchBox.value)"  class="search"/>
    <div>
      <div *ngFor="let product of products | async"
          (click)="gotoDetail(product)" class="search-result" >
        {{product.name}} {{product.lastName}}
      </div>
    </div>
  </div>
</div>